* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 100px 1fr 1fr 200px;
  grid-template-areas:
    "h h h"
    ". m ."
    "s s s"
    "f f f";
}

header {
  background-color: #d5d5d5;
  grid-area: h;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
}

nav {
  grid-column: 2/-1;
}

nav a {
  padding: 20px;
  color: #5d5d5d;
  text-decoration: none;
}

main {
  background-color: #f5f5f5;
  height: 640px;
  margin: 5px 0;
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 90px repeat(2, 25px) repeat(2, 100px) 80px;
  gap: 15px;
  padding: 15px;
}

.img1 {
  background-image: url(./images/1.jpg);
  background-size: cover;
}

.img2 {
  background-image: url(./images/2.jpg);
  background-size: cover;
  grid-area: 1/2/3/3;
}

.img3 {
  background-image: url(./images/3.jpg);
  background-size: cover;
  grid-area: 1/3/5/4;
}

.img4 {
  background-image: url(./images/4.jpg);
  background-size: cover;
  grid-area: 1/4/4/5;
}

.img5 {
  background-image: url(./images/5.jpg);
  background-size: cover;
  grid-area: 2/1/6/2;
}

.img6 {
  background-image: url(./images/6.jpg);
  background-size: cover;
  grid-area: 3/2/7/3;
}

.img7 {
  background-image: url(./images/7.jpg);
  background-size: cover;
  grid-area: 5/3/8/4;
}

.img8 {
  background-image: url(./images/8.jpg);
  background-size: cover;
  grid-area: 4/4/8/5;
}

.img9 {
  background-image: url(./images/9.jpg);
  background-size: cover;
  grid-area: 6/1/8/2;
}

.img10 {
  background-image: url(./images/10.jpg);
  background-size: cover;
  grid-area: 7/2/8/3;
}

section {
  grid-area: s;
  background-color: #f5f5f5;
  width: 100%;
}

.sec-container {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.one {
  background-color: #ff006e;
}

.two {
  background-color: #faa307;
}

.three {
  background-color: #deaaff;
}

.four {
  background-color: #ffff3f;
  grid-area: 2/2/3/3;
}

.five {
  background-color: #16db93;
  grid-area: 2/3/3/4;
}

.six {
  background-color: #c1d3fe;
  grid-area: 3/3/4/4;
}

footer {
  background-color: #505050;
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  height: 150px;
  column-gap: 50px;
  row-gap: 20px;
  justify-content: end;
  align-content: center;
  padding: 20px 10%;
}

footer div {
  border: 2px solid white;
  padding: 3rem;
}
